/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2020, 5:39:13 AM
    Author     : user1
*/

body,h1,h2,h3,h4,h5,h6,p,nav,span,img,a,div,hr,ul,li,button{
    margin:0px;font-family: Noto Sans,verdana;font-size:16px;font-weight: normal;border:none;text-decoration: none;color: #333;
}
.cb{
    clear: both;
}
#wrapper{
    background-color:#FFF; 
    background-color: rgba(0,0,110,0.09);
    overflow: hidden;
}
#banner .links{
    position: fixed;
    z-index: 10;
    width: 90%;
    left: 0px;
    padding: 0px 5%;
    overflow: hidden;
    background-color: #333;
    background-color: rgba(0,0,0,0.3);
    border-bottom:0.01px solid #666;
}
#banner .links .link1{
    float: left;
    padding: 5px 0px;
}
#banner .links .link1 a img{
    float: left;
   width: 60px;
   height: 56px;
}
#banner .links .link2{
    float: right;
    padding: 20px 0px;
}
#banner .links .link2 a{
    padding: 20px;
    font-size: 12px;
    color: #FFF;
}
#banner .links .link2 .link_last{
   background-color: royalblue;
   padding: 8px 30px;
   color: #fff;
}
#banner .links .link2 .menu{
   float: right;
   padding: 0px 20px;
   width: 30px;
   height: 30px;
   margin-top: -3px;
   cursor: pointer;
   display: none;
}
#banner .links .link2 .link_last:hover{
    background-color: #3A5FAA;
    color:#FFF;
    border-bottom:none;
}
#banner_area{
    background-color:royalblue;
    background-image: url("../assets/improper.jpg");
    height: 660px;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner_area .first_div{
    background-color:royalblue;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    height: 100%;
    width: inherit;
}
#banner_area .second_div{
    position: absolute;
    margin: 140px 10%;
    width: 80%;
}
#banner_area .second_div h1{
    color:#fff;
    font-weight: bolder;
    font-size:40px;
    margin: 60px auto;
}
#banner_area .second_div h3{
    color:#fff;
    font-size:18px;
    margin: 40px auto;
    width: 80%;
}
#banner_area .second_div p{
    margin: 60px auto;
}
#banner_area .second_div p a{
    background-color: royalblue;
    color:#fff;
    font-weight: bolder;
    padding: 20px 50px;
}
#banner_area .second_div p a:hover{
    background-color: #3A5FAA;
}
#sidebar{
    position: fixed;
    height: 100vh;
    width: 100%;
    top:0px;
    left: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    display: none;
}
#sidebar div{
    background-color: #3A5FBB;
    width: 350px;
    height: 100%;
    float: right;
}
#sidebar div h2{
    padding: 10px 5%;
    text-align: right;
}
#sidebar div h2 img{
    padding: 5px;
    cursor: pointer;
    width: 30px;height: 30px;
}
#sidebar div a p{
    padding: 45px 5%;
    text-align: center;
    color:#FFF;
}
#sidebar div a p:hover{
    background-color: #EEE;
    color:#666;
}
#about{
    overflow: hidden;
}
#about .abouts{
    overflow: hidden;
    width: 100%;
     height: 500px;
}
#about .abouts .contentImage{
    float: left;
    width: 50%;
    height: 100%;
}
#about .abouts .contentImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about .abouts .content{
    float: left;
    width: 40%;
    height: 100%;
    padding: 50px 5%;
    background-color: #FFF;
}
#about .abouts .content h1{
    font-weight: bolder;
    font-size:30px;
    color: #3A5F99;
    margin-bottom: 30px;
}
#about .abouts .content ul li{
    font-size:13px;
}

#register{
    background-color:royalblue;
    background-image: url("../assets/benefit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
#register .reg{
    background-color:#FFF;
    background-color: rgba(255,255,255,0.8);
    height: 100%;
    overflow: hidden;
    width: 100%;
    padding: 40px 0px;
}
#register .reg h1{
    font-weight: bolder;
    font-size:30px;
    width: 50%;
    margin-bottom: 50px;
}
#register .reg .registers{
    width: 90%;
    margin: auto 5%;
    overflow: hidden;
}
#register .reg .registers .form p{
    margin: 25px auto;
}
#register .reg .registers .form p input{
    width: 50%;
    padding: 8px;
    border:1px solid #ccc;
    font-size: 18px;
    outline: none;
}
#register .reg .registers .form input:hover{
 border:1px solid #aaa;
}
#register .reg .registers .form p input:focus{
 border:1px solid #aaa;
}
#register .reg .registers .form p textarea{
    width: 50%;
    height: 50px;
    padding: 8px;
    border:1px solid #ccc;
    font-size: 18px;
    outline: none;
}
#register .reg .registers .form p textarea:hover{
 border:1px solid #aaa;
}
#register .reg .registers .form p textarea:focus{
 border:1px solid #aaa;
}
#register .reg .registers .form p button{
 background-color: royalblue;
 padding: 10px;
 width: 150px;
 color:#fff;
 outline: none;
 cursor: pointer;
 font-size: 19px;
}
#register .reg .registers .form p button:hover{
 background-color: #3A5F99;
}
#register .reg .registers .form p button:focus{
 background-color: #3A5F99;
}

#footer {
    overflow: hidden;
    background-color: #3A5FAA;
}
#footer .foot{
    width: 90%;
    padding: 10px 5%;
    border-top: 1px solid #ddd;
    overflow: hidden;
}
#footer .footerText{
    width: 30%;
    margin: 20px 0px;
    float: left;
    color:#FFF;
}
#footer .footerlinks{
    width: 15%;
    margin: 20px 5% 0px 20% ;
    float: left;
    color:#FFF;
}
#footer .footerLogo{
    width: 30%;
    float: left;
    text-align: right;
}
#footer div h2{
    font-size: 15px;
    font-weight: bolder;
    margin: 20px auto;
    color:#FFF;
}
#footer div p{
    font-size: 12px;
    margin-top: 20px;
    color:#FFF;
    font-weight: bolder;
}
#footer div p a{
    color:inherit;
    font-size: inherit;
    font-weight: bolder;
}
#footer div p a:hover{
    color: #ccc;
}
#footer div p a img{
    width: 60px;
   height: 56px;
}
#footer div nav{
    margin: 20px 0px 20px 0px;
    padding: 0px;
    color:#FFF;
    font-weight: bolder;
}
#footer div nav a button{
    background-color: #FFF;
    width:30px;
    height: 30px;
    border:none;
    outline: none;
    border-radius: 10px;
    font-weight: bolder;
    cursor: pointer;
    color: #3A5FAA;
}
#footer div nav a button:hover{
    background-color: #CCC;
    color: #333;
}
#footer h4{
    font-size: 12px;
    margin: 20px 5%;
    font-weight: bolder;
    color:#FFF;
}


/**
  responsive stylesheet code
*/

@media screen and (max-width:830px) and (min-width:700px){
    #banner .links .link2 .link_last{
        display: block;
        float: left;
        margin-top: -3px;
    }
    #banner .links .link2 .menu{
        display: block;
        float: left;
        padding: 0px 0px 0px 20px;
    }
    #banner .links .link2  a{
        display: none;
    }
    #about .abouts .content{
        padding: 10px 5%;
    }
    #about .abouts .content h1{
        font-size:18px;
        margin-bottom: 5px;
    }
    
}
@media screen and (max-width:699px) and (min-width:0px){
    #banner .links .link2 .link_last{
        display: block;
        float: left;
        padding: 8px 10px;
        margin-top: -3px;
    }
    #banner .links .link2 .menu{
        display: block;
        float: left;
        padding: 0px 0px 0px 20px;
    }
    #banner .links .link2  a{
        display: none;
        font-size: 11px;
    }
    #banner_area{
      height: 500px;
    }
    #banner_area .second_div{
        position: absolute;
        margin: 70px 10%;
        width: 80%;
    }
    #banner_area .second_div h1{
        color:#fff;
        font-weight: bolder;
        font-size:20px;
        margin: 60px auto;
    }
    #banner_area .second_div h3{
        color:#fff;
        font-size:15px;
        margin: 40px auto;
        width: auto;
    }
    #banner_area .second_div p{
        margin: 20px auto;
    }
    #banner_area .second_div p a{
        background-color: royalblue;
        color:#fff;
        font-size: 13px;
        font-weight: bolder;
        padding: 10px 20px;
    }
    #about{
        margin: 20px auto;
    }
    #about .abouts{
        height: auto;
    }
    #about .abouts .contentImage{
        display: none;
    }
    #about .abouts .content{
        float: left;
        width: auto;
        height: auto;
        padding: 10px 5%;
        background-color: transparent;
    }
    #about .abouts .content h1{
        font-size:15px;
        margin-bottom: 5px;
    }
    #register .reg h1{
        font-weight: bolder;
        font-size:15px;
        width: 70%;
        margin-bottom: 50px;
    }
    #register .reg .registers{
        width: 90%;
        margin: auto 5%;
        overflow: hidden;
    }
    #register .reg .registers .form p{
        margin: 25px auto;
    }
    #register .reg .registers .form p input{
        width: 90%;
        font-size: 15px;
    }
    #register .reg .registers .form p textarea{
        width: 90%;
        font-size: 15px;
    }
    #register .reg .registers .form p button{
     font-size: 15px;
    }
}




/**
  dialog stylesheet code
*/

#dialog{
                background-color: royalblue;
                background-color: rgba(0,0,100,0.2);
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100vh;
                display: none;
                z-index: 100;
            }
            #dialogBox{
               width: 275px;
                background-color: #eee;
                border-top:none;
                padding: 10px 20px;
                border:1px solid #ccc;
                border-top:none;
            }
            #dialogBox p{
                text-align: center;
                margin: 30px auto;
                word-wrap: break-word;
            }
            #dialogBox div{
                text-align: right;
            }
            #dialogBox div .btn1{
                background-color: #3A5FAA;
                width: 60px;
                padding: 5px;
                color: #FFF;
                font-size: 14px;
                outline: none;
                border:1px solid #3A5FAA;
                cursor: pointer;
                border-radius: 5px;
            }
            #dialogBox div .btn1:hover{
                background-color: #3A5F99;
            }
            #dialogBox div .btn2{
                background-color: #FFF;
                width: 60px;
                padding: 5px;
                color: #3A5FAA;
                outline: none;
                border:1px solid #ccc;
                cursor: pointer;
                border-radius: 5px;
            }
            #dialogBox div .btn2:hover{
                background-color: #efffff;
            }
            #mess{
                background-color: royalblue;
                background-color: rgba(0,0,100,0.2);
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100vh;
                display: none;
                z-index: 100;
            }
            #messageBox{
                width: 275px;
                background-color: #eee;
                border-top:none;
                padding: 10px 20px;
                border:1px solid #ccc;
                border-top:none;
            }
            #messageBox p{
                margin: 30px auto;
                word-wrap: break-word;
            }
            #messageBox div{
                text-align: right;
            }
            #messageBox div .mbtn1{
                background-color: #3A5FAA;
                width: 60px;
                padding: 5px;
                color: #FFF;
                font-size: 14px;
                outline: none;
                border:1px solid #3A5FAA;
                cursor: pointer;
                border-radius: 5px;
            }
            #messageBox div .mbtn1:hover{
                background-color: #3A5F99;
            }
            
            #progress{
                background-color: royalblue;
                background-color: rgba(0,0,100,0.2);
                position: fixed;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100vh;
                display: none;
                z-index: 100;
            }
            #progressBox{
                width: 260px;
                background-color: #eee;
                border-top:none;
                padding: 10px 20px;
                margin-top: 40vh;
            }
            #progressBox p{
                margin: 30px auto;
            }
            #progressBox div{
                text-align: center;
            }